.main__container {
  margin: 10px 11.46% 0;
  padding-bottom: 120px;
  border-bottom: 1px solid var(--gray-1);
}

.main__container>section:first-of-type {
  width: 80%;
  display: inline-block;
}

.main__container>aside:first-of-type {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  min-width: 183px;
}

.main__container main p {
  color: var(--gray-4);
}

.main__container main h3:not(:first-child) {
  margin-top: 63px;
}

.mobile__roles_section {
  display: none;
  margin-top: 50px;
}

.footer {
  margin-top: 20px;
  width: 39rem;
}

.footer p a {
  color: var(--gray-4);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.625rem;
}

.major__image {
  width: 635px;
  height: 424px;
  margin-top: 60px;
}

.major__image__1 {
  width: 635px;
  height: 326px;
  margin-top: 60px;
}

.alt__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--gray-4);
  margin-top: 20px;
}

.double__image {
  display: flex;
}

.double__image>div:nth-child(2) {
  margin-left: 30px;
}

.minor__image {
  width: 445px;
  height: 424px;
  margin-top: 60px;
}

.mobile__image {
  filter: drop-shadow(0px 4px 50px rgba(51, 51, 51, 0.25));
}

.double__mobile__image {
  display: inline-block;
}

.double__mobile__image>div {
  display: inline-block;
}

@media screen and (max-width: 1260px) {
  .double__image {
    display: block;
  }
  .double__image>div:nth-child(2) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 800px) {
  .main__container {
    margin: 0 5.333333333333334%;
    padding-bottom: 60px;
  }
  .footer {
    width: 100%;
  }
  .default__list {
    padding: 0;
    padding-left: 20px;
  }
  .main__container>section:first-of-type {
    width: 100%;
  }
  .main__container>aside:first-of-type {
    width: 100%;
  }
  .main__container>aside:first-of-type>h3:first-of-type, .main__container>aside:first-of-type>ul:first-of-type {
    display: none;
  }
  .main__container main h3:not(:first-child) {
    margin-top: 50px;
  }
  .mobile__roles_section {
    display: block;
  }
  .major__image, .minor__image, .major__image__1 {
    width: 100%;
    object-fit: cover;
    margin-top: 50px;
  }
  .alt__text {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 600px) {
  .love__football__empathy__map {
    height: 232px;
  }
  .love__football__brainstorming {
    height: 172px;
  }
  .double__mobile__image img {
    width: 155px;
    height: 344px;
    object-fit: cover;
  }
  .loan__up__survey__data {
    height: 158px;
  }
  .loan__up__user__persona {
    height: 173px;
  }
  .loan__up__wireflow {
    height: 330px;
  }
  .loan__up__wire__frame {
    height: 199px;
  }
  .loan__up__screens {
    height: 251px;
  }
  .inventopal__screen {
    height: 250px;
  }
  .hexcord__user__flow {
    height: 297px;
  }
  .hexcord__screen {
    height: 252px;
  }
  .pizza__jungle__user__flow {
    height: 309px;
  }
  .pizza__jungle__wire__frame {
    height: 202px;
  }
  .pizza__jungle__ui {
    height: 424px;
  }
  .deliverie__user__flow {
    height: 200px;
  }
  .deliverie__ui {
    height: 252px;
  }
  .spinero__user__flow {
    height: 253px;
  }
  .spinero__screen, .sprinttrip__screen {
    height: 251px;
  }
}