.wrapper {
  transition-timing-function: ease-in;
  transition: 2s;
}

.main__container {
  margin: 10px 11.46% 0;
  padding-bottom: 120px;
}

.main__container:last-child {
  border-bottom: 1px solid var(--gray-1);
}

.main__container h1 {
  font-weight: 900;
  font-size: 3.86279375rem;
  margin-bottom: 34px;
  margin-top: 0;
}

section.main__container>section {
  display: inline-block;
}

section.main__container>section:first-child {
  width: 84%;
}

section.main__container>section:last-child {
  width: 16%;
  vertical-align: top;
}

section.main__container>section:last-child>h3 {
  line-height: 4;
  height: 60px;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.618rem;
}

section.main__container>section:last-child>main {
  margin-top: 82px;
  width: 100%;
}

.download_button {
  width: 203px;
  height: 50px;
  background: var(--red);
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  color: var(--white);
  text-align: center;
  line-height: 2.5;
  display: block;
  margin-top: 40px;
}

.download_button:hover {
  background: var(--hover);
}

.download_button:active, .download_button:focus {
  background: var(--white);
  color: var(--red);
}

.header__marker {
  width: 83px;
  height: 5px;
  background: var(--gray-3);
  border-radius: 2px;
  border: none;
  margin: -14px 0 60px;
}

.details__link {
  color: var(--blue);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5625rem;
  text-decoration: none;
  margin-bottom: 60px;
  display: block;
}

.details__link:last-child {
  margin-bottom: 0;;
}

.details__link:hover {
  color: var(--blue-hover);
}

.details__link::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 19px;
  margin-left: 10px;
  background: url(../../assets/right_arrow_2.svg);
}

.two__columns_list {
  column-count: 2;
  list-style: none;
  padding: 0;
}

.two__columns_list li {
  font-weight: bold;
  font-size: 1.618rem;
  line-height: 40px;
  color: var(--gray-3);
}

.socials {
  text-align: right;
}

.clients {
  margin-bottom: 120px;
}

@media screen and (max-width: 800px) {
  .main__container {
    margin: 0 5.333333333333334%;
    padding-bottom: 60px;
  }
  section.main__container>section:first-child {
    width: 100%;
  }
  .socials__container {
    display: none!important;
  }
  .main__container h1 {
    font-size: 2.38720625rem;
    line-height: 2.875rem;
    margin-bottom: 20px;
  }
  .header__marker {
    margin: 0 0 40px;
  }
  .details__link {
    margin-bottom: 40px;
    margin-top: 15px;
  }
  .details__link:last-child {
    margin-bottom: 0;
  }
  section.main__container>section:last-child {
    width: 100%;
  }
  section.main__container>section:last-child>main {
    margin-top: 40px;
  }
  .two__columns_list li {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--gray-3);
  }
  .default__list {
    padding: 0;
    padding-left: 20px;
  }
  .clients {
    margin-bottom: 60px;
  }
  .mobile__collapsible__wrapper {
    border-top: 1px solid var(--gray-1);
    border-bottom: 1px solid var(--gray-1);
  }
  .mobile__collapsible__wrapper>section {
    margin-top: 40px;
  }
  .mobile__collapsible__wrapper>section.section__active:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-1);
  }
  .mobile__skills__header {
    font-weight: bold;
    font-size: 1.618rem;
    margin-top: 0;
    cursor: pointer;
  }
  .mobile__skills__header:not(.header__active)::after {
    content: "";
    background: url(../../assets/plus.svg);
    width: 16px;
    height: 16px;
    float: right;
  }
  .mobile__skills__header.header__active::after {
    content: "";
    background: url(../../assets/minus.svg);
    width: 16px;
    height: 2px;
    float: right;
    margin-top: 12px;
  }
  .collapsed {
    display: none!important;
  }
}