.main__header {
  margin: 0 11.46%;
  height: 160px;
  font-weight: 600;
  font-size: 16px;
  line-height: 7;
  display: flex;
  justify-content: space-between;
}

.main__header p {
  display: inline-block;
}

.active {
  color: var(--red);
}

aside:not(.active) .prev::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 19px;
  margin-right: 10px;
  background: url(../../assets/left_arrow.svg);
}

.header__name {
  color: var(--blue);
}

.header__name__mobile {
  display: none;
}

aside:not(.active) .next::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 19px;
  margin-left: 10px;
  background: url(../../assets/right_arrow.svg);
}

@media screen and (max-width: 800px) {
  .main__header {
    margin: 56px 20px;
    height: 50px;
    line-height: 0;
    border-top: 1px solid var(--gray-1);
  }

  .header__name {
    display: none!important;
  }

  .header__name__mobile {
    color: var(--blue);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 56px;
    line-height: 2;
  }
}