.footer {
  height: 160px;
  width: 77.08%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.positioned__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 100%;
  display: block;
}

.small__footer {
  max-width: 1110px;
}

.credits {
  font-weight: 600;
  font-size: 1rem;
  line-height: 12;
  color: var(--gray-3);
  margin: 0;
  padding: 0;
}

.credits>a:hover {
  color: var(--white);
}

.socials {
  width: 13.1875rem;
  display: flex;
  justify-content: space-between;
}

.positioned__footer>.socials {
  margin: auto;
  margin-top: 80px;
}

.positioned__footer>div:first-child {
  display: none;
}

footer:not(.positioned__footer) .socials>a {
  line-height: 12;
}

@media screen and (max-width: 800px) {
  .footer {
    display: block;
    width: 100%;
    text-align: center;
  }
  .positioned__footer>.socials {
    margin-top: 40px;
  }
  footer:not(.positioned__footer) .socials>a {
    line-height: 6;
  }
  .socials {
    margin: auto;
  }
  .credits {
    line-height: 3.625rem;
    font-size: 0.875rem;
  }
}