.footer {
  height: 160px;
  width: 100%;
}

.positioned__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
}

.socials {
  width: 13.1875rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.positioned__footer>.socials {
  margin-top: 80px;
}

footer:not(.positioned__footer) .socials>a {
  line-height: 12;
}

@media screen and (max-width: 800px) {
  .footer {
    height: 80px;
  }
  .positioned__footer>.socials {
    margin-top: 40px;
  }
  footer:not(.positioned__footer) .socials>a {
    line-height: 6;
  }
}