.main__container {
  margin: 10px 11.46% 0;
  padding-bottom: 120px;
  border-bottom: 1px solid var(--gray-1);
}

.main__container>main p {
  color: var(--gray-4);
}

.genesys__facilitator {
  height: 56vh;
}

@media screen and (max-height: 600px) {
  .genesys__facilitator {
    height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  .main__container {
    margin: 0 5.333333333333334%;
    padding-bottom: 60px;
  }
  .default__list {
    padding: 0;
    padding-left: 20px;
  }
}