.main__container {
  margin: 10px 11.46% 0;
  padding-bottom: 120px;
  border-bottom: 1px solid var(--gray-1);
  display: flex;
  justify-content: space-between;
}

.main__container>section:first-of-type {
  width: 84%;
  display: inline-block;
}

.main__container>aside:first-of-type {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  min-width: 183px;
}

.main__container>main p {
  color: var(--gray-4);
}

.genesys__facilitator {
  height: 56vh;
}

@media screen and (max-height: 600px) {
  .genesys__facilitator {
    height: 50vh;
  }
}

@media screen and (min-height: 1400px) {
  .genesys__facilitator {
    height: 70vh;
  }
}

@media screen and (max-width: 1024px) {
  .main__container {
    margin: 0 5.333333333333334%;
    padding-bottom: 60px;
    display: block;
  }
  .default__list {
    padding: 0;
    padding-left: 20px;
  }
  .main__container>section:first-of-type {
    width: 100%;
  }
  .main__container>aside:first-of-type {
    width: 100%;
  }
}