:root {
  --white: #FDFFFC;
  --black: #050405;
  --red: #E71D36;
  --blue: #276FBF;
  --gray: #E0E0E0;
  --gray-2: #4F4F4F;
  --gray-3: #828282;
  --gray-4: #BDBDBD;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

.no__background {
  background: none;
}

.no__border {
  border: none;
}

.icon {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.dribble {
  background: url(./assets/dribble.svg);
}

.twitter {
  background: url(./assets/twitter.svg);
  width: 27px;
}

.linkedin {
  background: url(./assets/linkedin.svg);
  width: 24px;
}

.email {
  background: url(./assets/email.svg);
  width: 28px;
}

.boring__link {
  text-decoration: none;
  color: inherit;
}

.boring__list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.boring__list>li {
  color: var(--gray-4);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
}

.main__body {
  width: 39rem;
}

.main__body p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--gray);
  margin: 40px 0;
}

.main__body>.table {
  width: 100%;
}

.table {
  display: table;
}

.table__row {
  display: table-row;
}

.table__cell {
  display: table-cell;
  padding-bottom: 60px;
}

.table>.table__row .table__cell:last-child {
  text-align: right;
}

.main__body h3 {
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.618rem;
}

.main__body li p {
  color: var(--gray-4);
}

.table p {
  color: var(--gray-4);
  margin-top: 5px;
}

.table .table__cell:first-child p {
  margin-bottom: 30px;
}

@media (min-width: 1800px) {
  html {
    font-size: 18px;
  }
}